:root {
    --clr-txt-primary: #30305f;
    --clr-bg-light: #bbbbff;
    --clr-bg-brand: #7777ff;
    --color-square: #ff007f;
    --color-main-el: #30305f;
    --color-main-bg: linear-gradient(0, var(--clr-bg-light) 5%, var(--clr-bg-brand) 35%);


    --font-head: 4rem;
    --font-sub-head: 1.5rem;
    --font-body: 1rem;
    
  }

  .darkmode {
    --clr-txt-primary: #bbbbff;
    --clr-bg-light: #30305f;
    --clr-bg-brand: #7777ff;
    --color-square: #ff007f;
    --color-main-el: #30305f;
    --color-main-bg: linear-gradient(0, var(--clr-bg-light) 5%, var(--clr-bg-brand) 35%);

  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--clr-txt-primary);
  }

  h1 {
    font-size: var(--font-head);
  }
  
  h3, h4 {
    font-size: var(--font-sub-head);

  }
  body {
    font-family: 'Graduate', cursive;
    font-size: 16px;
    line-height: 1;
    background: var(--color-main-bg);
    color: var(--color-main-el);
  }
  
  p, span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  a {
    text-decoration: none;
  }
  
  p {
    margin: 1rem 0;
    font-size: var(--font-body);
  }
  
  ul {
    list-style: none;
  }
  
  li {
    line-height: 2;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1.2;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }
  

  

  

  @media (max-width: 960px) {

  }
  
  @media (max-width: 500px) {
  

  
  }