:root {
    --color-primary: #0f172a;
    --color-secondary: #007fff;
    --color-square: #ff007f;
    --color-main-el: #30305f;
    --color-main-bg: #f0f0f0;
    --color-card-bg: #fcfcfc;

    --font-head: 4rem;
    --font-sub-head: 1.5rem;
    --font-body: 1rem;
    
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: var(--font-head)
  }
  
  h3, h4 {
    font-size: var(--font-sub-head)

  }
  body {
    font-family: 'Graduate', cursive;
    font-size: 16px;
    line-height: 1.5;
    background: var(--color-main-bg);
    color: var(--color-main-el);
  }
  
  p, span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  a {
    text-decoration: none;
    color: var(--color-main-el);
  }
  
  p {
    margin: 1rem 0;
    font-size: var(--font-body);
  }
  
  ul {
    list-style: none;
  }
  
  li {
    line-height: 2;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1.2;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }
  

  

  

  @media (max-width: 960px) {

  }
  
  @media (max-width: 500px) {
  

  
  }