:root {

    font-size: 16px;

    --clr-txt-primary: #30305f;
    --clr-bg-light: #bbbbff;
    --clr-bg-brand: #7777ff;
    --color-square: #ff007f;
    --color-main-el: #30305f;
    --color-main-bg: linear-gradient(0, var(--clr-bg-light) 5%, var(--clr-bg-brand) 35%);


    --font-head: clamp(1.5rem, 5vw, 2.25rem);
    --font-sub-head: clamp(1rem, 4vw, 1.75rem);
    --font-body: clamp(1rem, 3vw, 1.25rem);
    
  }

  .darkmode {
    --clr-txt-primary: #bbbbff;
    --clr-bg-light: #30305f;
    --clr-bg-brand: #7777ff;
    --color-square: #ff007f;
    --color-main-el: #30305f;
    --color-main-bg: linear-gradient(0, var(--clr-bg-light) 5%, var(--clr-bg-brand) 35%);

  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--clr-txt-primary);
  }

  h1 {
    font-size: var(--font-head);
  }
  
  h3, h4 {
    font-size: var(--font-sub-head);

  }
  body {
    font-family: 'Graduate', cursive;
    line-height: 1;
    background: var(--color-main-bg);
    color: var(--color-main-el);
  }
  
  p, span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  a {
    text-decoration: none;
  }
  
  p {
    margin: 1rem 0;
    font-size: var(--font-body);
  }
  
  ul {
    list-style: none;
  }
  
  li {
    line-height: 2;
  }
  
  h1,
  h2,
  h3 {
    line-height: 0.975;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  .hover-link {
    z-index: 2;
    font-weight: 700;
    background-image: var(--color-main-bg); 
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size ease-in-out 300ms;
  }
  .hover-link:hover {
      background-size: 100% 3px;
  }
  

  

  @media (max-width: 960px) {

  }
  
  @media (max-width: 500px) {
  

  
  }