---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import profilePic from "../images/pro_pic.png"

---

<Layout title="About Astro">
    <section class="page-content">
        <div class="container">
          <div class="about-block">
            
            <div>
              <img id="portrait" src={ profilePic} alt="Portrait of a man named, Nardu. Trying to explain who he is in as short and complete a way as simultaneously possible">
            </div>
            <div>
              <h2>Who is this guy?</h2>
              <p>
                Lockdown urged me to consider changing things up. Since I was working from home - as were my teams, managing people became much more complicated.
                Then I found web development and enjoyed it enough to want to do this all the time.
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio porro
                sequi officia nihil optio dicta eos, cumque asperiores id harum, qui
                quas dolorem tempore? Recusandae repudiandae magnam quae doloribus
                impedit.
              </p>
            </div>
          </div>
          <Card dark={true}>

                <h3>Use the tools you already love</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
                  deserunt inventore ut voluptate, officia maiores repellat tenetur
                  praesentium omnis est ex tempora a necessitatibus reiciendis at et
                  dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
                  laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
                  iusto error molestias dolorum, necessitatibus labore?
                </p>
          </Card>
          

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            doloribus, vel ipsum mollitia aliquid cumque commodi corrupti omnis
            ipsam sit earum, dolore quisquam harum qui non, quasi ea voluptatum
            debitis!
          </p>
  
      
            <h3>Join our Community</h3>
            <p>
              Join us in the Astro Discord to share with and get help from an
              active, friendly community!
            </p>
  
            <ul>
              <li>💬 Say hi in our #introduce-yourself channel!</li>
              <li>
                💬 Ask our Support Squad a question in our #support-threads
                channel!
              </li>
              <li>
                💬 Share what you've been working on in our #showcase channel!
              </li>
            </ul>
       
        </div>
      </section>
</Layout>

<style>
  .about-block {
    display: flex;
  }
  .about-block h2 {
  border-width: 0 0 0.5rem 0;
  border-style: solid;
  border-image: linear-gradient(50deg, var(--color-secondary) 10%, var(--color-tertiary) 35%, var(--color-main-bg) 50%) 1;
  }
  
  .about-block img {
    background-color: var(--color-main-bg);
    border-width: 0.5rem;
    border-style: solid;
    /* border-color: transparent; */
    /* border-image-slice: 1; */
    border-image: linear-gradient(50deg, var(--color-secondary) 10%, var(--color-tertiary) 35%, var(--color-main-bg) 50%) 1;
    border-radius: 0.75em;
    max-width: 300px;
    margin: 1em 1em 1em 0;

  }

</style>