---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import profilePic from "../images/pro-pic-txbg.webp"

---

<Layout title="About Astro">
    <section class="page-content">
        <div class="container">
          <div class="about-block">
            
            <img id="portrait" src={ profilePic} alt="Portrait of a man named, Nardu. Trying to explain who he is in as short and complete a way as simultaneously possible">
              <block>

                <h2>Web Developer & Shopify Expert</h2>
                <p>
                  I found web development and enjoyed it enough to want to work with it all the time.
                </p>
                <h3>Nardu Malherbe</h3>
              </block>
              
              

          </div>
          <Card dark={true}>

                <h3>Use the tools you already love</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
                  deserunt inventore ut voluptate, officia maiores repellat tenetur
                  praesentium omnis est ex tempora a necessitatibus reiciendis at et
                  dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
                  laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
                  iusto error molestias dolorum, necessitatibus labore?
                </p>
          </Card>
          

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            doloribus, vel ipsum mollitia aliquid cumque commodi corrupti omnis
            ipsam sit earum, dolore quisquam harum qui non, quasi ea voluptatum
            debitis!
          </p>
  
      
            <h3>Join our Community</h3>
            <p>
              Join us in the Astro Discord to share with and get help from an
              active, friendly community!
            </p>
  
            <ul>
              <li>💬 Say hi in our #introduce-yourself channel!</li>
              <li>
                💬 Ask our Support Squad a question in our #support-threads
                channel!
              </li>
              <li>
                💬 Share what you've been working on in our #showcase channel!
              </li>
            </ul>
       
        </div>
      </section>
</Layout>

<style>
  .about-block {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px green solid;
  }
  .about-block block {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    margin: 20vh 0;
  }
  
  .about-block img {
    background-color: var(--clr-bg-light);
    border: solid var(--clr-bg-light) 0.5rem;
    border-radius: 50%;
    max-width: 200px;
    margin: 1em 1em 1em 0;

  }

</style>