---
export interface Props {
    dark?: boolean;
}

const { dark = false } = Astro.props as Props;
---

<div class={`card ${dark && "dark"}`}>
<slot />
</div>

<style>
    .card {
        background: var(--color-card-bg);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 3px 3px 20px var(--color-card-bg);
        margin-bottom: 20px;
    }

    .dark {
        background: var(--color-main-bg);

    }
</style>
