---
import logo from "../images/image2vector.svg";
---

<header class="header m-auto">
    <div class="container flex items-center w-full justify-between">
        <div class="logo">
            <a href="/">
                <img src={logo} alt="" />
            </a>
        </div>
        <nav>
            <ul class="flex gap-3 font-mono text-lg">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    

    .logo {
        width: 100px;
        height: 100px;
    }
</style>
