---
import logo from "../images/empty-logo.svg";
import "../styles/global.css";

---

<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src={logo} alt="" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a class="hover-link" href="/">Home</a></li>
                <li><a class="hover-link" href="/about">About</a></li>
                <li><a class="hover-link" href="/work">Work</a></li>
                <li><a class="hover-link" href="/how">How</a></li>
                <li><a class="hover-link" href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        height: 100px;
        /* background: var(--color-main-bg); */
    }

    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .header img {
        height: 75px;
        vertical-align: middle;
        margin: 15px 5vw;
    }

    .header nav ul {
        display: flex;
    }

    .hover-link {
        padding: 0.5rem clamp(0.1rem, 5vw, 2rem);
        font-size: var(--font-head);
        z-index: 2;
        font-weight: 700;
        /* background-image: var(--color-main-bg); 
        background-size: 0% 3px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size ease-in-out 300ms; */
    }
    .hover-link:hover {
        background-size: 100% 3px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
</style>
