---
import logo from "../images/image2vector.svg";
---

<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src={logo} alt="" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        height: 100px;
        background: var(--color-primary);
    }

    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .header img {
        height: 75px;
        vertical-align: middle;
        margin: 0.5em 1em;
        font-size: 1.5em;
    }

    .header nav ul {
        display: flex;
    }

    .header nav ul li a {
        padding: 0 30px;
        font-size: 2em;
        color: var(--color-main-bg);
        z-index: 2;
        font-weight: 500;
    }

    .logo {
        width: 100px;
        height: 100px;
    }
</style>
